<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--传统的spring方式配置bean，在springboot中，如果我们使用这样的方式，我们就需要使用ImportResource注解-->
    <bean id="helloService" class="nudt.web.service.HelloService"></bean>
</beans>