<!DOCTYPE html>
<html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>bootstrap个人简历练习</title>
    <meta  name="viewport" content="width=device-width,initial-scale=1">
    <link th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.js}"></script>

    <style>
        body{
            padding-top: 70px;
        }
    </style>
</head>
<body class="container">
<iframe src="/api/toHeaderPage" height="50px" width="1200px" frameborder="no" border="0" marginheight="100px"  scrolling="no" ></iframe>

<header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <div class="navbar-brand">个人信息</div>
            </div>
            <div id="divNav" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <button class="btn btn-success navbar-btn" type="button" data-toggle="modal" data-target="#divModal" title="Print">Print</button>
                        <div class="modal fade" id="divModal">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button class="close" type="button" data-dismiss="modal"><span>&times;</span></button>
                                        <h4 class="modal-title">Print Rasume</h4>
                                    </div>
                                    <div class="modal-body">
                                        print Preview Print Confile
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
                                        <button class="btn btn-primary" type="button">Print</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-info navbar-btn" data-toggle="tooltip" type="button" data-placement="buttom" title="Download">Download</button>
                        <script type="text/javascript">
                            // 鼠标放上去时的弹出提示
                            $(funtion(){
                                $('[data-toggle="tooltip"]').tooltip();
                            });
                        </script>
                    </li>
                </ul>
            </div>
        </div>

    </nav>
</header>

<div class="row">
    <!-- 左侧 -->
    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="../../cert/img/me.png" class="img-responsive img-rounded img-thumbnail" alt="Me">
                <address>
                    <span th:if="${staff} ne null" th:text="${staff.getUsername()}">中国</span><br>
                    <span th:if="${staff} ne null" th:text="${staff.getCountrycode()}">中国</span><br>
                    <span class="glyphicon glyphicon-home" title="Address" th:if="${staff} ne null" th:text="${staff.getAddress()}"><kbd>上海市浦东新区</kbd></span><br>
                    <span class="glyphicon glyphicon-file" title="PostalCoded" th:if="${staff} ne null" th:text="${staff.getTelephone()}" >201201</span><br>
                    <span class="glyphicon glyphicon-phone" title="Mobile" th:if="${staff} ne null" th:text="${staff.department}">110</span><br>
                    <span class="glyphicon glyphicon-envelope" title="Email" th:if="${staff} ne null" th:text="${staff.getEmail()}"><code>1610712512@qq.com</code></span>
                </address>
            </div>
        </div>

        <div class="panel panel-primary">

            <div class="panel-body">
                <form class="form-horizontal" th:action="@{/api/certRevoke}" method="post">


                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            <button type="submit" class="btn btn-primary pull-right">撤销数字证书</button>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- 右侧 -->
    <div class="col-sm-9">
        <div class="jumbotron">
            <p class="text-left small">
                个人证书信息
                <br>Personal X.509 certificate
            </p>
        </div>

        <div class="panel-group" id="accoradion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <a href="#collapseOne" data-toggle="collapse" data-parent="#accoradion">证书信息</a>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-success">
                                    <div class="row" >
                                        <div class="col-sm-4" th:if="${cert} ne null" th:text="'用户名:'+${cert.username}">2015/3/1-至今</div>
                                        <div class="col-sm-4" th:if="${cert} ne null" th:text="'序列号:'+${cert.serialNumber}">XXX公司</div>
                                        <div class="col-sm-4" th:if="${cert} ne null" th:text="'密钥长度:'+${cert.getKeysize()}">IOS开发工程师</div>
                                        <div class="col-sm-4" th:if="${cert} ne null" th:text="'加密算法:'+${cert.sigAlg}">IOS开发工程师</div>
                                        <div class="col-sm-4" th:if="${cert} ne null" th:text="'证书类型:'+${cert.algorithm}">IOS开发工程师</div>
                                        <div class="col-sm-4" th:if="${cert} ne null" th:text="'证书版本:'+${cert.version}">IOS开发工程师</div>
                                        <div class="col-sm-4" th:if="${cert} ne null" th:text="'证书状态:'+${cert.status}">IOS开发工程师</div>
                                        <div class="col-sm-4" th:if="${cert} ne null" th:text="'起始日期:'+${cert.notBefore}">IOS开发工程师</div>
                                        <div class="col-sm-4" th:if="${cert} ne null" th:text="'结束日期:'+${cert.notAfter}">IOS开发工程师</div>


                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="panel-heading">
                    <div class="panel-title">
                        <a href="#collapseTwo" data-toggle="collapse" data-parent="#accoradion">已撤销证书</a>
                    </div>


                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="list-group" th:each="crl:${crls}">
                                <li class="list-group-item list-group-item-success">
                                    <div class="row">
                                        <div class="col-sm-4" th:if="${crl} ne null" th:text="'撤销证书编号:'+${crl.serialNumber}">2015/3/1-至今</div>
                                        <div class="col-sm-4" th:if="${crl} ne null" th:text="'证书状态:'+${crl.isValidate}">XXX公司</div>
                                        <div class="col-sm-4" th:if="${crl} ne null" th:text="'证书创建时间:'+${crl.createTime}">IOS开发工程师</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


</body>


</html>