<!doctype html>
<html lang="en-US">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>404 -对不起您没有权限访问！</title>
<meta name="author" content="www.xmoban.cn">
<meta name="copyright" content="Copyright   X模版 www.xmoban.cn 版权所有">
<link rel="stylesheet" type="text/css" href="../../business/css/main.css">
<!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body>
<div id="wrapper"><a class="logo" href="/"></a>
  <div id="main">
    <header id="header">
      <h1><span class="icon">!</span>401<span class="sub">page Unauthorized!</span></h1>
    </header>
    <div id="content">
      <h2>对不起您没有权限访问！</h2>
      <p>你没有权限，请联系管理员</p>
      <div class="utilities">
        <form  name="formsearch" action="#" id="formkeyword">
          <div class="input-container">


          </div>
        </form>
        <a class="button right" href="#" onClick="history.go(-1);return true;">返回上页</a><a class="button right" href="/">网站首页</a>
        <div class="clear"></div>
      </div>
    </div>
    <div id="footer">
<!-- xmoban.cn 提示文本 实际使用请删除 -->
<div style="padding:20px 0;margin-top:30px;">


    </div>
  </div>
</div>
		
	</body>
</html>