<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

	<link rel="stylesheet" href="../../../authorization/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../../authorization/css/font-awesome.min.css">
	<link rel="stylesheet" href="../../../authorization/css/main.css">
	<link rel="stylesheet" href="../../../authorization/css/doc.min.css">
	  <script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
	  <script type="text/javascript" th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.js}"></script>
	  <script type="text/javascript" src="../../clerk/dist/distpicker.js"></script>
	  <style>
	.tree li {
        list-style-type: none;
		cursor:pointer;
	}
	</style>

	  <script type="text/javascript">
          $(document).ready(function(){

              $("#province").attr("data-province","四川省")
              $("#city").attr("data-city","成都市")
              $("#county").attr("data-county","双流区")
              $("#disSelect").distpicker();

          })


	  </script>
  </head>

  <body>

  <div th:replace="~{authorization/common/header::header}"></div>


  <div class="container-fluid">
      <div class="row">
		  <div th:replace="~{authorization/common/sidebar::sidebar}"></div>
		  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<ol class="breadcrumb">
				  <li><a href="#">首页</a></li>
				  <li><a href="#">数据列表</a></li>
				  <li class="active">新增</li>
				</ol>
			<div class="panel panel-default">
              <div class="panel-heading">表单数据<div style="float:right;cursor:pointer;" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-question-sign"></i></div></div>
			  <div class="panel-body">
				<form role="form">

					<div class="form-group">
						<label>国家</label>
						<select id="countrycode" name="countrycode"  class="btn btn-info form-control">
							<option >
								CN
							</option>
							<option >
								US
							</option>
						</select>
					</div>

					<div id="disSelect">
						<div class="form-group">
							<label>省</label>
							<select  name="province" class="btn btn-info form-control" id="province" data-province="四川省"></select>

						</div>
						<div class="form-group">
							<label>市</label>
							<select  name="city" class="btn btn-info form-control" id="city" data-city="成都市"></select>
						</div>
						<div class="form-group">
							<label>县</label>
							<select name="county" class="btn btn-info form-control" id="county" data-county="龙泉驿区"></select>
						</div>
					</div>

					<div class="form-group">
						<label>邮箱</label>
						<input id="email" name="email" type="email" class="form-control" placeholder="xxx@.com" >
						<p class="help-block label label-warning">请输入合法的邮箱地址, 格式为： xxxx@xxxx.com</p>
					</div>



					<div class="form-group">
						<span style="width: 70px" class="input-group-btn">隶属系统</span>
						<select id="serviceName" name="serviceName"  class="btn btn-info form-control">
							<option th:each="service:${services}" th:text="${service}">
							</option>
						</select>
					</div>

					<div class="form-group">
						<span style="width: 70px" class="input-group-btn">组织</span>
						<select id="organization" name="organization"  class="btn btn-info form-control">
							<option th:each="ou1:${ou}" th:text="${ou1}">
							</option>
						</select>
					</div>



					<div class="form-group">
						<label>单位</label>
						<select id="department" name="department"  class="btn btn-info form-control">
							<option >
								计算科学系
							</option>
							<option >
								网络安全系
							</option>
							<option >
								电子科学系
							</option>
							<option >
								微电子系
							</option>
							<option >
								软件工程系
							</option>
						</select>
					</div>

					<div class="form-group">
						<label>用户名</label>
						<input id="username" name="username" type="text" class="form-control" placeholder="用户名" >
					</div>

					<div class="form-group">
						<label>密码</label>
						<input id="password" name="password" type="password" class="form-control" placeholder="123456" >
					</div>


					<div class="form-group">
						<label>电话</label>
						<input id="telephone" name="telephone" type="number" class="form-control" placeholder="18392435567" >
					</div>

					<div class="form-group">
						<label>详细住址准确到村</label>
						<input id="address" name="address" type="text" class="form-control" placeholder="地址" >
					</div>

					<div class="form-group">
						<label>描述</label>
						<input id="description" name="description" type="text" class="form-control" placeholder="个体描述" >
					</div>

					<div class="form-group">
						<label>是否通过审核，0代表未通过，1代表通过</label>
						<select id="code" name="code"  class="btn btn-info form-control">
							<option >
								0
							</option>
							<option >
								1
							</option>
						</select>
					</div>

				  <button id="insertBtn" type="button" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> 新增</button>
				  <button type="button" class="btn btn-danger"><i class="glyphicon glyphicon-refresh"></i> 重置</button>
				</form>
			  </div>
			</div>
        </div>
      </div>
    </div>
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title" id="myModalLabel">帮助</h4>
		  </div>
		  <div class="modal-body">
			<div class="bs-callout bs-callout-info">
				<h4>测试标题1</h4>
				<p>测试内容1，测试内容1，测试内容1，测试内容1，测试内容1，测试内容1</p>
			  </div>
			<div class="bs-callout bs-callout-info">
				<h4>测试标题2</h4>
				<p>测试内容2，测试内容2，测试内容2，测试内容2，测试内容2，测试内容2</p>
			  </div>
		  </div>
		  <!--
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-primary">Save changes</button>
		  </div>
		  -->
		</div>
	  </div>
	</div>

	<script src="../../../authorization/script/docs.min.js"></script>
	<script src="../../../authorization/layer/layer.js"></script>
        <script type="text/javascript">
            $(function () {
			    $(".list-group-item").click(function(){
				    if ( $(this).find("ul") ) {
						$(this).toggleClass("tree-closed");
						if ( $(this).hasClass("tree-closed") ) {
							$("ul", this).hide("fast");
						} else {
							$("ul", this).show("fast");
						}
					}
				});
			    
			    $("#insertBtn").click(function(){
			    	var countrycode = $("#countrycode").val();
			    	var province = $("#province").val();
			    	var city = $("#city").val();
			    	var email = $("#email").val();
			    	var organization = $("#organization").val();
			    	var department = $("#department").val();
			    	var username = $("#username").val();
			    	var password = $("#password").val();
			    	var telephone = $("#telephone").val();
			    	var address = $("#address").val();
			    	var description = $("#description").val();
			    	var serviceName = $("#serviceName").val();
			    	var code = $("#code").val();
			    	if ( username == "" ) {
                        layer.msg("登录账号不能为空，请输入", {time:2000, icon:5, shift:6}, function(){
                        	
                        });
                        return;
			    	}
                    if ( password == "" ) {
                        layer.msg("密码不能为空，请输入", {time:2000, icon:5, shift:6}, function(){

                        });
                        return;
                    }

                    if ( countrycode == "" ) {
                        layer.msg("国家不能为空，请输入", {time:2000, icon:5, shift:6}, function(){

                        });
                        return;
                    }
                    if ( province == "" ) {
                        layer.msg("省份不能为空，请输入", {time:2000, icon:5, shift:6}, function(){

                        });
                        return;
                    }
                    if ( city == "" ) {
                        layer.msg("省份不能为空，请输入", {time:2000, icon:5, shift:6}, function(){

                        });
                        return;
                    }

                    if ( email == "" ) {
                        layer.msg("邮件不能为空，请输入", {time:2000, icon:5, shift:6}, function(){

                        });
                        return;
                    }

                    if ( organization == "" ) {
                        layer.msg("组织不能为空，请输入", {time:2000, icon:5, shift:6}, function(){

                        });
                        return;
                    }

                    if ( department == "" ) {
                        layer.msg("部门不能为空，请输入", {time:2000, icon:5, shift:6}, function(){

                        });
                        return;
                    }
                    if ( telephone == "" ) {
                        layer.msg("电话不能为空，请输入", {time:2000, icon:5, shift:6}, function(){

                        });
                        return;
                    }

                    if ( address == "" ) {
                        layer.msg("地址不能为空，请输入", {time:2000, icon:5, shift:6}, function(){

                        });
                        return;
                    }
                    if ( description == "" ) {
                        layer.msg("地址不能为空，请输入", {time:2000, icon:5, shift:6}, function(){

                        });
                        return;
                    }

                    if ( code == "" ) {
                        layer.msg("状态不能为空，请输入", {time:2000, icon:5, shift:6}, function(){

                        });
                        return;
                    }

                    if ( serviceName == "" ) {
                        layer.msg("请选择业务系统", {time:2000, icon:5, shift:6}, function(){

                        });
                        return;
                    }

			    	var loadingIndex = null;
			    	$.ajax({
			    		type : "POST",
			    		url  : "/st/insert",
			    		data : {
                            "countrycode":countrycode,
                     		"province":province,
                     		"city":city,
                     		"email":email,
                     		"organization":organization,
                            "serviceName":serviceName,
                     		"department":department,
							"username":username,
                     		"password":password,
                     		"telephone":telephone,
                     		"address":address,
                     		"description":description,
                     		"code":code,

			    		},
			    		beforeSend : function() {
			    			loadingIndex = layer.msg('处理中', {icon: 16});
			    		},
			    		success : function(result) {
			    			layer.close(loadingIndex);
			    			if ( result.success ) {
		                        layer.msg("用户信息保存成功", {time:1000, icon:6}, function(){
		                        	window.location.href = "/st/user";
		                        });
			    			} else {
		                        layer.msg("用户信息保存失败，请重新操作", {time:2000, icon:5, shift:6}, function(){
		                        	
		                        });
			    			}
			    		}
			    	});
			    });
            });
        </script>
  </body>
</html>
